<ion-view title="A" id="page17">
  <ion-content padding="true" class="has-header">
    <h1 id="a-heading12" style="color:#000000;text-align:center;">Aa</h1>
    <div>
      <img src="img/khUlvRRlTOKeamHZXAze_Aa.JPG" style="display:block;width:100%;height:auto;">
    </div>
    <a ui-sref="b()" id="a-button193" class="button button-balanced button-large button-block icon-right ion-arrow-right-a">Siguiente</a>
  </ion-content>
</ion-view>