<ion-view title="B" id="page18">
  <ion-content padding="true" class="has-header">
    <h1 id="b-heading11" style="color:#000000;text-align:center;">Bb</h1>
    <div>
      <img src="img/nUwci2okQVaeWTdZpWJh_Bb.JPG" style="display:block;width:100%;height:auto;">
    </div>
    <a ui-sref="c()" id="b-button194" class="button button-balanced button-large button-block icon-right ion-arrow-right-a">Siguiente</a>
  </ion-content>
</ion-view>