<ion-view title="C" id="page19">
  <ion-content padding="true" class="has-header">
    <h1 id="c-heading13" style="color:#000000;text-align:center;">Cc</h1>
    <div>
      <img src="img/YunSaNwvQXiUHW5cd9es_Cc.JPG" style="display:block;width:100%;height:auto;">
    </div>
    <a ui-sref="d()" id="c-button195" class="button button-balanced button-large button-block icon-right ion-arrow-right-a">Siguiente</a>
  </ion-content>
</ion-view>