<ion-view title="E" id="page21">
  <ion-content padding="true" class="has-header">
    <h1 id="e-heading15" style="color:#000000;text-align:center;">Ee</h1>
    <div>
      <img src="img/guBfeFuOSIeqnsqfFSYd_Ee.JPG" style="display:block;width:100%;height:auto;">
    </div>
    <a ui-sref="abecedario()" id="e-button197" class="button button-balanced button-large button-block icon-right ion-arrow-right-a">Siguiente</a>
  </ion-content>
</ion-view>