<ion-view title="Invitar amigos" id="page45">
  <ion-content padding="true" class="has-header">
    <form id="invitarAmigos-form16" class="list">
      <label class="item item-input" id="invitarAmigos-input22">
        <span class="input-label">Usuario</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <button id="invitarAmigos-button156" class="button button-balanced button-block">Agregar</button>
    <div class="spacer" style="width: 300px; height: 89px;"></div>
    <div id="invitarAmigos-markdown9" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:19px;">O puedes agregarlos desde tus redes sociales</p>
    </div>
    <button id="invitarAmigos-button169" class="button button-positive button-block">Buscar en Facebook</button>
    <button id="invitarAmigos-button170" class="button button-assertive button-block">Buscar en Google</button>
    <button id="invitarAmigos-button171" class="button button-balanced button-block">¡Listo!</button>
  </ion-content>
</ion-view>