<ion-view title="Módulo 1" id="page15">
  <ion-content padding="true" class="has-header">
    <div id="mDulo1-container11">
      <h1 id="mDulo1-heading9" style="color:#000000;font-weight:400;text-align:center;">Módulo 1</h1>
      <div id="mDulo1-button-bar16" class="button-bar">
        <a ui-sref="nombre()" id="mDulo1-button106" class="button button-positive button-large button-block icon-right ion-egg">Básico 1</a>
        <button id="mDulo1-button110" class="button button-royal button-large button-block icon-right ion-egg">Básico 2</button>
      </div>
      <div class="spacer" style="width: 300px; height: 51px;"></div>
      <div id="mDulo1-button-bar17" class="button-bar">
        <button id="mDulo1-button120" class="button button-assertive button-large button-block icon-right ion-ios-paw">Animales </button>
        <button id="mDulo1-button130" class="button button-energized button-large button-block icon-right ion-pizza">Comida 1 </button>
      </div>
      <div class="spacer" style="width: 300px; height: 51px;"></div>
      <div id="mDulo1-button-bar18" class="button-bar">
        <button id="mDulo1-button131" class="button button-dark button-large button-block icon-right ion-chatbubbles">Frases 1</button>
        <button id="mDulo1-button133" class="button button-calm button-block icon-right ion-android-restaurant">Comida 2</button>
      </div>
      <div class="spacer" style="width: 300px; height: 51px;"></div>
      <button id="mDulo1-button129" class="button button-balanced button-block">Test</button>
      <div class="spacer" style="width: 300px; height: 50px;"></div>
      <a ui-sref="lecciones()" id="mDulo1-button134" class="button button-assertive button-block button-outline">Volver</a>
    </div>
  </ion-content>
</ion-view>