<ion-view title="Mi cuenta" id="page10">
  <ion-content padding="true" class="has-header">
    <form id="miCuenta-form11" class="list">
      <ion-list id="miCuenta-list5">
        <ion-item class="item-icon-right" id="miCuenta-list-item14" ui-sref="cambiarFoto()">Foto
          <i class="icon ion-android-person"></i>
        </ion-item>
        <label class="item item-input" id="miCuenta-input17">
          <span class="input-label">Nombre</span>
          <input type="text" placeholder="Valentina">
        </label>
        <label class="item item-input" id="miCuenta-input18">
          <span class="input-label">Usuario</span>
          <input type="text" placeholder="av.masso">
        </label>
        <label class="item item-input" id="miCuenta-input19">
          <span class="input-label">Correo</span>
          <input type="text" placeholder="av.masso@uniandes.edu.co">
        </label>
        <label class="item item-input" id="miCuenta-input20">
          <span class="input-label">Contraseña</span>
          <input type="text" placeholder="*****">
        </label>
        <ion-item id="miCuenta-list-item19" ui-sref="login()">Log out</ion-item>
      </ion-list>
    </form>
    <form id="miCuenta-form13" class="list">
      <ion-toggle toggle-class="toggle-positive" id="miCuenta-toggle6">Notificaciones</ion-toggle>
      <a ui-sref="perfil()" id="miCuenta-button173" class="button button-assertive button-block button-outline">Volver</a>
    </form>
    <div id="miCuenta-button-bar12" class="button-bar">
      <a ui-sref="lecciones()" id="miCuenta-button33" class="button button-positive button-block icon ion-egg"></a>
      <a ui-sref="club()" id="miCuenta-button34" class="button button-positive button-block icon ion-android-globe"></a>
      <a ui-sref="perfil()" id="miCuenta-button37" class="button button-positive button-block icon ion-android-contact"></a>
    </div>
  </ion-content>
</ion-view>