<ion-view title="P" id="page29">
  <ion-content padding="true" class="has-header">
    <h1 id="p-heading23" style="color:#000000;text-align:center;">Pp</h1>
    <div>
      <img src="img/5Esgj4QRSeW2TNacBqA3_Pp.JPG" style="display:block;width:100%;height:auto;">
    </div>
    <a ui-sref="q()" id="p-button205" class="button button-balanced button-large button-block icon-right ion-arrow-right-a">Siguiente</a>
  </ion-content>
</ion-view>