<ion-view title="Q" id="page30">
  <ion-content padding="true" class="has-header">
    <h1 id="q-heading24" style="color:#000000;text-align:center;">Qq</h1>
    <div>
      <img src="img/joiY9w4lTXqOFkwDlqrz_Qq.JPG" style="display:block;width:100%;height:auto;">
    </div>
    <a ui-sref="r()" id="q-button206" class="button button-balanced button-large button-block icon-right ion-arrow-right-a">Siguiente</a>
  </ion-content>
</ion-view>